<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="./favicon.ico" />
    <meta name="description" content="Random shitpost on my daily drivers, chill outs & research thingys." />
    <link rel="apple-touch-icon" href="./apple-touch-icon.png" />
    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel="manifest" href="./manifest.json" />

    <title><!-- TITLE --></title>
    
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/hljs.css">
</head>

<body class="markdown-body">
    <div id="app" data-server-rendered="true">

        <div class="f6">
            <header id="header" class="measure-wide center mt6 mb4">
                <nav>
                    <div class="mb2 dib">
                        <a href="/test" title="blog" class="gray link">blog</a> .
                        <a href="/" title="about" class="gray link active">anubhab</a> .
                    </div>
                </nav>
                <h2 class="f2 lh-title mb2">
                    <!-- TITLE -->
                </h2>
                <h4 class="f4 lh-title gray">
                    <!-- AUTHOR -->
                </h4>
            </header>
            <section id="main" class="page-post gray mb6 lh-copy">
                <ul class="ph0" style=" 
                list-style: none;
                    ">
                    <li class="pb3">
                        <!-- PUBLISH_DATE -->
                    </li>
                </ul>
                <div class="content custom">
                <!-- CONTENT -->
                </div>

            </section>
        </div>
</body>

</html>